@import "../../app.scss";

.navbar {
  @include themify($themes) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid themed("border");
    background: themed("bg");
    color: themed("textColor");
    z-index: 9999;
    .left-side {
      display: flex;
      align-items: center;
      gap: 20px;
      strong {
        font-size: 20px;
        color: themed("logo");
      }
      .search {
        display: flex;
        align-items: center;
        border: 1px solid lightgray;
        padding: 5px;
        border-radius: 20px;
        input {
          width: 500px;
          border: none;
          outline: none;
          font-size: 17px;
          padding: 5px;
          background: transparent;
          color: themed("textColor");
        }
        .icon {
          cursor: pointer;
        }
      }
    }
    .right-side {
      display: flex;
      align-items: center;
      gap: 20px;
      .user {
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
      }
    }
    .icon{
      cursor: pointer;
      
    }
  }
}
